[Unit]
Description=OurBox first-boot bootstrap (airgapped)
After=local-fs.target network-online.target
Wants=network-online.target
RequiresMountsFor=/var/lib/ourbox
ConditionPathExists=!/var/lib/ourbox/state/bootstrap.done

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/ourbox-bootstrap
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
