[Unit]
Description=OurBox Woodbox Installer
Conflicts=getty@tty1.service
Before=getty@tty1.service
After=local-fs.target systemd-udev-settle.service
Wants=systemd-udev-settle.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/ourbox/tools/ourbox-preinstall
StandardInput=tty-force
StandardOutput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
TimeoutStartSec=infinity
User=root
Group=root
Restart=no
